/* GERAL */
* 
{
 box-sizing: border-box;
}

body {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    margin: 0;
}

html {
    font-size: 10px; /* faz o reset do rem */
}

/* LAYOUT */
.banner{
  background-image: url(../IMG/banner-site.png);
  background-size: cover;    
  background-repeat: no-repeat;
  height: 560px;
  display: flex;
}

.banner_titulo{
    font-family: 'Yellowtail', cursive;
    text-align: right;
    color:white;
    padding-top: 250px;
    width: 1200px;
    font-size: 60px;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    margin-top: 10rem;
}

h3 {
    font-size: 2.5rem;
}

a {
    text-decoration: none;
}

.btn{
    border-radius: 3rem;
    text-transform: uppercase;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.btn-roxo {
    color: #f87c7c;
    border: 1px solid #f87c7c;
}

/* SEÇÃO SOBRE */
.sobre{
    display: flex;
    justify-content: space-around;
    padding-bottom: 40px;
}

.sobre__titulo {
    font-size: 4rem;
    color: #f87c7c;
}

.sobre-descricao, .sobre-habilidades {
    width: 40%;
    display: inline-block;
    line-height: 1.5;
}

.sobre-habilidades {
    margin-left: 10rem;
}

.sobre-descricao__destaque, .sobre-habilidades__titulo {
    font-size: 2rem;
}

.sobre-habilidades__titulo{
    color: #f87c7c;
}

.sobre-descricao__texto{
    font-size: 2rem;
    margin-bottom: 30px;
}

.sobre-habilidades__lista {
    padding-left: 2rem;
    line-height: 3rem;
    font-size: 2rem;
}


/* REDES SOCIAIS */
.redes-sociais{
    background-color: #f87c7c;
    margin-top: 100px;
}

.redes-sociais_link {
    display: inline-block;
    width: 20%;
    padding-left: 2rem 0;
    margin: 0 1 rem;
    text-align: center;
    color: white;
    align-items: center;
}

.redes-sociais_icones{
    align-items: center;
    text-align: center;
}

.redes-sociais_img{
    margin-bottom: .5rem;
    padding-top: 30px;
    align-items: center;
    text-align: center;
}

.nome{
    font-size: 20px;
}

/* FOOTER */
footer {
    background-color: #f39694;
    padding: 5px 0;
    color: white;
    font-size: 15px;
    text-align: center;
}
